form {
    background: lavender;
    margin: auto;
    padding: 50px;
    text-align: center;
    height: 70%;
    padding-top: 0 0;
}

button, select, input[type=text],button {
    overflow: visible;
    margin: 5px;
    width: 275px;
    border: 2px solid;
    border-radius: 5px;
}
ul{
  list-style-type: none;
  display: inline-flex;

}
.Diet{
  width: 300px;
}
.calculator{
  display: flex;
  position: absolute;
  top: 90%;
}
.parent{
  position: relative;
  justify-content: center;
  display: flex;
  align-items: center;
  padding-top: 20px;
}

nav{
  color: aliceblue;
  background: #0082e6;
  width: 100%;
}
.logo{
font-size: 35px;
line-height: 80px;
padding: 0 100px;
font-weight: bold;
margin-right: 20px;
}
ul.toolbar{
  float:right;
  padding: 20px;
}
.toolbar_li{
  padding: 0 20px;
  border-radius: 3px;
  height: 30px;
  font-size: 20px;
  display: inline-block;
  /* text-transform: uppercase; */
}
.toolbar_li:hover{
  background: #1b9bff;
  transition: .5s;
  color: aliceblue;
  list-style: none;
  cursor: pointer;
}